.admin h3 {
    margin-left: 40px;
    margin-top: 70px;
}
.adminData {
    border: 10px solid rgb(223, 232, 243);
    border-radius: 15px;
    margin-left: 200px;
    margin-top: 0px;
    padding: 10px;
    width: 1100px;
    height: auto;
    text-align: center;
}
.col-md-1 button {
    height: 50px;
    width: 80px;
    font-size: 15px;
    border: 1px solid lightgray;
    border-radius: 15px;
    margin-top: 40px;
}
.col-md-1 button:hover {
    background-color: rgb(250, 191, 81);
}